{% extends "global/base.html" %}

{% block title %}Add contact{% endblock title %}

{% block content %}
    <div class="contact-background">
        <div class="add_contact-profile">
            <h2>Profile</h2>
        </div>
        <form action="{% url 'agenda:add_contact' %}" method="POST">
            {% csrf_token %}
            <div class="add_contact-forms">
                {% for field in form %}
                    <div class="field-add-contact-form">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% if form.errors %}
                <p class="form-error">There are errors in the form, please fix them and submit again.</p>
            {% endif %}

            <button type="submit" class="add_contact-button">Send</button>
        </form>
    </div>
{% endblock content %}
