/* Geral */
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(230, 230, 245);
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    text-align: center;
    background: rgb(0, 0, 30);
    color: #fff;
    padding: 24.7px;
    margin-bottom: 25px;
}

.header-a {
    text-decoration: none;
    color: #fff;
}

.contacts {
    text-align: center;
    margin-bottom: 15px;
}

/* Tabelas */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

td, th {
    text-align: left;
    padding: 17px;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 10, 5%);
}

tr:hover {
    background-color: rgba(0, 0, 10, 10%);
}

.td-a-contact {
    text-decoration: none;
    color: #247BA0;
}

/* Formulário de Contato */
.contact-background {
    background: rgb(245, 245, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.contact-profile {
    text-align: center;
    margin-bottom: 30px;
}

.contact-forms {
    font-size: 1.3em;
}

.field-contact-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field-contact-form label {
    /* margin-top: -26px; */
    display: block;
}

.currently-image {
    overflow-wrap: break-word;
    word-break: break-all;
}

.field-contact-form input {
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

.currently-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.currently-container a {
    overflow-wrap: break-word;
    word-break: break-all;
    margin-left: 5px;
}

.clear-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.clear-container input {
    margin-left: 12px;
}

.checkbox-large {
    transform: scale(1.5);/
}

.checkbox-large + label {
    margin-left: 5px;
}

.field-contact-form .help-text {
    font-size: 0.9em;
    color: #666;
}

.form-error {
    color: red;
    font-size: 1em;
    margin-top: 10px;
}

.add_contact-button {
    background-color: #D741A7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.add_contact-button:hover {
    background-color: #df8dd1;
}

.field-contact-form .help-text,
.field-contact-form .field-errors {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.view_contact-contacts p {
    font-size: 1.16em;
    margin-bottom: 20px;
}

.view_contact-recipe-cover-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.button-home {
    background-color: #D741A7;
    color: #fff;
    border: none;
    padding: 7px 10px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-home:hover {
    background-color: #df8dd1;
}