<div class="header">
    <h1><a href="{% url 'agenda:home' %}" class="header-a">Agenda</a></h1>
    <div>
        <form action="{% url 'agenda:search' %}" method="GET" class="search-form">
            <input type="search" name="q" id="search" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    {% if user.is_authenticated %}
        <div class="logout button-home">
            <form action="{% url 'authors:logout_author' %}" method="POST">
                {% csrf_token %}

                <button type="submit">Logout</button>
            </form>
        </div>
    {% endif %}
</div>